@charset "UTF-8";

@font-face {
  font-family: "DMSerifDisplay";
  font-weight: 400;
  font-display: swap;
  src: local("DMSerifDisplay"),
    url(../fonts/DMSerifDisplay-Regular.woff2) format("woff2");
}
