@charset "UTF-8";

@import url(./pretendard.css);

:root {
  /*** weight ***/
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;

  /*** size ***/
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-xxl: 30px;

  /****** line-height ******/
  --lineHeight-s: 1;
  --lineHeight-md: 1.6;
  --lineHeight-lg: 2;
}
